#entete, #Aside, #Links, #Sitemap, #RenderBody, #date
{
    border: 1px solid;
    border-color: black;
   
}

#titre {
  
    display: inline-block;
    vertical-align: top;
    
}

img {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    margin-top:-10px;
    padding:5px;
    margin-left:-14px;
    
    

}




body {
    margin-top:5px;
    /*
    border: 1px solid;
    border-color: black;
    margin: 2px;
    border-radius: 2px;
    padding: 10px;*/
}

main,body, header 
{
    margin-bottom: 10px;
}

#entete {
   
    padding-top:10px;
}

#navbar 
{
    margin-bottom:10px;
}

#titre4
{
 margin-left:-10px;   
}
#RenderBody 
{
    border-right: none;
}


#RenderBody, #entete, #Links {
    border-top-left-radius:5px; 
}

#date,#Aside,#entete
{
    border-top-right-radius:5px;
}

#Links,#Sitemap 
{
    border-right: none;
}
h1
{
/*font-weight:bold;*/
}